# dependencias
/node_modules
/.pnp
.pnp.js
.env*.local

# compilación de Next.js
/.next/
/out/

# producción y variables de entorno secretas
build
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*